.radio-colors-container{
  flex-direction: column;
  gap: 1.4rem;
}

.radio-colors{
  justify-content: space-between;
}
.color{
  height: 2.25rem;
  width: 2.25rem;
  border-radius: 50%;
  position: relative;
  outline: var(--shape-button) solid .313rem;
  input {
    display: none;
  }

  & input,
  & input:focus,
  & input:hover {
    all: unset;
    position: absolute;
    inset: 0;
  }
  input[type="radio"]:hover, input[type="radio"]:focus-within {
    outline: var(--shape-hover) solid .313rem;
    border-radius: 50%;

  }

  input[type="radio"]:checked {
    border-radius: 50%;
    outline: var(--brand-light) solid 1px;
    outline-offset: .313rem;
  }
}