#app {
  display: grid;
  gap: 1.25rem;
  grid-template-columns: 31.25% 64.0625%;
  overflow: hidden;
  height: 100vh;
}

.app-container {
  width: 80rem;
}

#bg-aside {
  background-image: url(../assets/images/Background.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: .75rem;
}

.aside-container {
  max-width: 25rem;
  max-height: 45.5rem;
}


main {
  overflow: auto;
  background-color: var(--shape-body);
  border-radius: .75rem;

  & .main-container {
    width: 51.25rem;
    
  }

  & .forms-container{
    width: 35rem;
    margin-left: auto;
    margin-right: auto;

  }

  & h1 {
    margin-top: 5rem;
    font: var(--h-md);
    color: var(--text-heading);
    margin-bottom: 2.5rem;
  }

}